@tailwind base;
@tailwind components;

.text-gradient {
  background: linear-gradient(91deg, #0076ce 26.63%, #9400d3 65.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg--image {
  background-image: url(./assets/placsbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.badge-gradient {
  background: var(
    --gradient-border-outline,
    linear-gradient(96deg, #0076ce 0%, #9400d3 100%)
  );
}

.footer-gradient {
  background: var(
    --gradient-footer,
    linear-gradient(96deg, #0076ce -7.82%, #9400d3 143.96%)
  );
}

@tailwind utilities;
